@-moz-document domain(mail.google.com)
{
    /* GMail messages and textarea should use fixed-width font */
    .gs .ii, textarea.Ak {
        font-family: MonoSpace !important;
        font-size: 10pt !important;
    }

    div.msg div.mb {
        font-family: MonoSpace !important;
        font-size: 10px !important;
    }
}

textarea {
    font-family: monospace !important;
    font-size: 1em;
}


