# where the lensing outputs are
lensout_dir     ~esheldon/oh/lensout-v1
lensinput_dir	~esheldon/oh/lensinputs-v1
plot_dir	~esheldon/plots

# the web directory on cheops
www_dir		NONE

# rotations between pixels and survey coords
survey_rot_dir ~esheldon/oh/sdss_survey_rot


# location of Ben's catalog, random's in sub-dir
maxbcg_dir	~esheldon/oh/lensinputs-v1/maxbcg/catalog
correlate_dir   ~esheldon/correlate

# jackknife file to use
jackknife_file ~esheldon/masks/sdsspixold/pixel_mask_jackknife_samples/jackknife_samples_dr4_res256_nstripe1.st
princeton_jackknife_file ~/masks/sdsspixold/pixel_mask_jackknife_samples/jackknife_samples_princeton_res256_nstripe1.st


# jackknife .so file
jack_sofile     NONE
jack_entry      call_jackknife

# des sensitivity dir
des_sensitivity_dir ~esheldon/des_sensitivity/goods

