mybindir        /home/bruno1/users/esheldon/bin
lensout_dir     /home/bruno1/users/esheldon/lensout/
photoz_dir      /home/fatso2/scranton/Photoz/DR1/
compea4_sofile  /home/bruno1/users/esheldon/ccode/CompEA4/call_CompEA4.so
compea4_entry   call_CompEA4
jack_sofile     /home/bruno1/users/esheldon/ccode/jackknife/call_jackknife.so
jack_entry      call_jackknife
gauleg_sofile   /net/cheops2/home/esheldon/ccode/gauleg/call_gauleg.so
gauleg_entry    call_gauleg
