mybindir        /sdss7/home/esheldon/bin/
lensout_dir     /sdss5/data0/lensout/
photoz_dir      /sdss5/data0/photoz
compea4_sofile  /sdss7/home/esheldon/ccode/CompEA4/call_CompEA4.so
compea4_entry   call_CompEA4
jack_sofile     /sdss7/home/esheldon/ccode/jackknife/call_jackknife.so
jack_entry      call_jackknife
gauleg_sofile   /sdss7/home/esheldon/ccode/gauleg/call_gauleg.so
gauleg_entry    call_gauleg
