# SDSSIDL Configuration file.  
# 
# Format:  keyword value pairs. E.g.:   
#           keyword1 value1
#           keyword2 value2
#
# Everything to the right of # comments is ignored. Also, lines that are not 
# simply two columns are ignored.
#


# SDSS data directory.  Required by many programs such as read_tsobj
#data_dir          /global/data/sdss/redux/137
data_dir          /global/data/sdss/redux
calibobj_dir      /global/data/sdss/redux/datasweep/dr4uber/137

# 1 if paths have rerun before run
rerun_first      1

# SDSS spectro directory. If spec_dir is not specified, then
#   data_dir/spectro will be assumed. 
spec_dir       NONE

# The version of spectro.
spec_vers      1d_23



# the run_status file holds statistics for various runs.
run_status_file     /home/users/esheldon/idl_libraries/run_status/sdss_run_status.fit

# Directory holding small files for efficient ra/dec searching
radec_search_dir    /mount/early2/esheldon/radec_search

# Directory holding photoz inputs/outputs
photoz_dir          /mount/early2/esheldon/photoz_uchicago
photoz_jhu_dir          /mount/early2/esheldon/photoz_jhu


# Where the lensing catalogs live
shapecorr_dir  NONE

# Mike blanton et al. value-added catalogs
vagc_dir	    /global/data
vagc_release    vagc-dr7
vagc_vers       vagc2

# Mike Blanton et al. lss samples
lss_dir	   /global/data/sdss/lss
lss_vers	    dr6

#
# Mask files
#

# Ryan's sdsspix masks
pixel_mask_basic        /home/users/esheldon/masks/sdsspixold/pixel_mask_dr4_basic
pixel_mask_simple       /home/users/esheldon/masks/sdsspixold/pixel_mask_dr4_simple
pixel_mask_bound        /home/users/esheldon/masks/sdsspixold/pixel_mask_dr4_bound
pixel_mask_combined     NONE
pixel_mask_princeton_basic /home/users/esheldon/masks/sdsspixold/pixel_mask_princeton_basic


# Spherical polygon mask
sphpoly_mask_file   /mount/early2/esheldon/masks/sphpoly_mask.dat
