name = "small04"

nrow = 50
ncol = 50

# for noise_type 'poisson', we draw a poisson deviate
# for the sky+flux value in each pixel
# for noise_type 'gauss' we just take sqrt(sky) for
# gausian noise

noise_type = "poisson"
sky = 1000.0

nsub = 16

seed = 3904
