# numbers or strings can just be bare tokens
dblval = 3.14159
sval = hello   # less clear than quoting...

# you only *have* to double quote if the token contain spaces
greeting = "hello world"   # comment at end

exclaim="yay!"

# you can escape double quotes
embed = "I love \"quoting\" things"

multiline_string = "
    hello
    world
"

# an array
darr = # comment before
    [22.5, -8.79, 22.53453234e3, -1.64]

# containers can cross lines
arr = [array, 
       "on another line", # comment inside
       last]              # comment after

qval = "what's up?"

# arrays can be empty
empty = []

# internally everything is stored as a string.
#
# If you want to extract arrays of numbers, *all* elements must be convertible
# to numbers.  The following would give an error as numbers but not if
# interpreted as strings.  Still, probably better to always quote things you
# intend to be interpreted as strings

mixed = ["hello there", 3.15, "bye"]

x = 27
